*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.instance-container{
    width: 100%;
    margin: 0 auto;
    background-color: #FFFCF8;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
}

.whole-instance{
    margin: 15px;
}

.instance-page{
    padding: 30px 50px;
}
