body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #287ab8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Home page */
.carousel,
.slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 55px;
  overflow: hidden;
}

/* About page */
.memberImg {
  object-fit: cover;
}

/* News page */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.card-container{
    width: 100%;
    box-shadow: 0px 0px 10px -8px;
    transition: 0.3s;
    animation: ease-in-out;
    background-color: #FFFCF8;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 10px;
}

.card-container:hover{
    transform: scale(1.01);
    box-shadow:0px 0px 7px 0px;
}

.whole-card{
    display: flex;
    flex-direction: column;
}

.top-card{
    width: 100%;
}

.logo{
    width: 300px;
}

h3{
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    font-weight: 1000;
    letter-spacing: 1px;
    margin-top: 10px;
}

.card-description p{
    font-size: 1.25rem;
    margin-top: 5px;
}

.card-author p{
    margin-right: 50px;
    opacity: 0.5;
}

.card-author{
    display: flex;
    flex-direction: row;
}

.latest-news{
    margin: 30px 0px;
}

/* Community page */

img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
